<html>
    <head>
        {% if title %}
        <title>{{ title }} Metadata Creator</title>
        {% else %}
        <title>Welcome!</title>
        {% endif %}
    </head>
    <body>
        <div>Metadata Creator: <a href="/index">Home</a>
            <a href="/login">Login</a></div>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }} </li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
